.configuration-modal-body {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.configuration-modal-form-group {
    margin-bottom: 20px;
}

.configuration-modal-label {
    color: #606060;
    font-weight: 400;
}

@media (min-width: 768px){
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }    
}
