.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    transition: all 0.3s ease-out !important;
}

.modal {
    border: 1px solid #171717;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal.fade .modal-dialog {
    transform: translate(0, 0);
    margin: 100px auto;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

.modal-dialog {
    max-width: none;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

.fade {
    transition: opacity .15s linear;
}

.modal-content {
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    color: #606060;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border: none;
    padding: 0;
}

.form-header {
    display: flex;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.selector-form-title{
    flex: 0 1 auto;
    color: #606060;
    font-size: 14px;
    font-weight: bold;
    word-break: break-all;
    max-width: 90%;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.selector-form-header-fields{
    flex: 1 1 auto;
}

.lookup .modal-body {
    padding-top: 0px;
}

.modal-body {
    min-height: 120px;
    padding: 20px 0;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-list-table {
    margin-top: 20px;
}

.modal-list-table {
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

.modal-list-table-header-row {
    background-color: #EBEBEB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-list-lookup-layout {
    display: grid;
    grid-template-columns: 26px auto;
}

.modal-list-table-cell {
    padding: 7px 15px;
    border-top: 0px!important;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    height: 100%;
}

.modal-list-table-header {
    height: 34px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #606060;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-width: 0px!important;
    align-items: center;
    display: flex;
}

.modal-list-lookup-layout {
    display: grid;
    grid-template-columns: 26px auto;
}

.modal-list-table-row {
    min-height: 44px;
    font-size: 14px;
    color: #161B1F;
    border-bottom: 1px solid #D7D7D7;
}

.modal-list-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #606060;
    border-radius: 50%;
    outline: none;
    vertical-align: sub;
}

.col-sm-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px){
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

